@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
     background-color: #1e8449;
}
#divlogo{
  display: flex;
  align-items: center;
   justify-content: center;
}

#logo{
  
   width: 75%;
  height: auto; /* Mantém a proporção da imagem */
  
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #1e8449;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #f5f5dc;
    border: 2px solid #413e3e;
    border-radius: 7px;
    padding: 8vh;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    margin: 15px;
   gap: 5px;
}


.formLogin input {
    padding: 15px;
    font-size: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    transition: all linear 160ms;
    outline: none;
}



.formLogin label {

    display: flex;
    align-items: center;
     justify-content: center;
    font-size: 10px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 9px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #1e8449;
}

.btn {
    background-color: #1e8449;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
   background-color: #1e8449;

}
